html {scroll-behavior: smooth;}

div 
{
    background-color: rgb(48, 42, 75);
    height: fit-content;
    border-radius: 10px;
    z-index: 100;
}

header
{
    border: 3px solid rgb(255, 160, 17);
    border-radius: 10px;
    float: left;
    background-image: url("../Images/1.png");
    background-size:contain;
    background-position: center;
    background-color: #000;
    background-repeat: no-repeat;
    height: 80px; width: 80px;
    position: -webkit-sticky;
    position: sticky;
    border-spacing: 100px;
}

nav
{
    border: 3px solid rgb(255, 160, 17);
    border-radius: 10px;
    /* background-color: #000; */
    margin-left:90px;
    height: 80px;
}

.button
{
    background-color: orange;
    border: orange solid 2px;
    width: 150px; height: 30px;
    border-radius: 3px;
}

:hover.hover
{
    background-color: transparent;
    border: orange solid 2px;
    width: 150px; height: 30px;
    border-radius: 3px;
    color: orange;
    cursor:pointer;
    transition: .5s;
}

:not(:hover).notHover {transition: .5s;}

.buttonsHolder
{
    margin-top: 18px;
    margin-left: 70px;
    /* border: white solid 2px; */
    padding: 5px;
    width: fit-content;
}

body
{
    margin-left: 15%;
    margin-right: 15%;
    font-family: Lucida Sans, san-serif;
    background-color: rgb(48, 42, 75);
    color: aliceblue;
}

.heading
{
    font-size: 30px;
    line-height: 0%;
    font-weight: bolder;
}

.subheading
{
    font-size: 12px;
    line-height: 0px;
    font-style: italic;
    /* font-weight: bolder; */
}

.title
{
    font-size: 30px;
    font-weight: bold;
}

p
{
    font-size: 16px;
    line-height: 25px;
}

article, footer
{
    clear: left;
    border: 3px solid rgb(255, 160, 17);
    border-radius: 10px;
    padding: 20px;
}

.general
{
    border: 3px solid rgb(255, 160, 17);
    border-radius: 10px;
    background-position:center;
    background-repeat: no-repeat;
    padding: 20px;
    background-blend-mode: multiply;
}

section.section1
{
    background: rgba(0,0,0,.6) url("../Images/Markiplier.webp");
    height: 430px;
    border: 3px solid rgb(255, 160, 17);
    border-radius: 10px;
    background-position:center;
    background-repeat: no-repeat;
    padding: 20px;
    background-blend-mode: multiply;
}

section.section2
{
    background: rgba(0,0,0,.6) url("https://images.unsplash.com/photo-1585653621032-a5fec164ee92?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    height: 350px;
}

section.section3
{
    background: rgba(0,0,0,.6) url("https://cdn.pixabay.com/photo/2014/11/13/15/24/minecraft-529464_1280.jpg");
    height: 380px;
}

section.text
{
    position: relative;
    top: 150px;
    border-left: 4px solid white;
    padding-left: 30px;
}

ul {list-style: none;}

li {line-height: 25px;}

a
{
    color: white;
}

a:hover.linkHover
{
    border-left: white solid 3px;
    padding-left: 15px;
    text-decoration: none;
    transition: .5s;
}

a:not(:hover).exit {transition: .5s}

.sticky
{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.top
{
    border-radius: 10px;
    padding-bottom: 5px;
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: orange;
    /* color: white; */
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 30px;
    width: 60px; height: 60px;
}

:hover.topHover
{
    background-color: transparent;
    border: orange solid 2px;
    border-radius: 10px;
    color: orange;
    cursor:pointer;
    transition: .5s;
}

:not(:hover).topNotHover {transition: .5s;}
