
body
{
    background-color: rgb(231, 220, 205);
}

h2
{
    border-left: 2px solid rgb(114, 103, 92);
    padding: 7px;
}

p.main, footer.main, section.main, header.main
{
    font-family: 'Lucida Sans', sans-serif;
    color: rgb(114, 103, 92);
    margin-left: 25%; margin-right: 25%;
}

section.list
{
    font-family: 'Lucida Sans', sans-serif;
    color: rgb(114, 103, 92);
}

ul
{
    line-height: 150%;
}

img
{
    size: 10%; 
    margin-left: 25%;
    margin-right: 25%;
}

figcaption
{
    font-family: 'Lucida Sans', sans-serif;
    color: rgb(155, 146, 135);
    margin-left: 25%; margin-right: 25%;
    font-size: 90%;
}

section.border
{
    border: 2px solid rgb(114, 103, 92);
    padding-left: 20px
}

h1.divider
{
    border-bottom: 2px solid rgb(114, 103, 92);
    padding-bottom: 20px;
}
